<app-navbar></app-navbar>

<div class="row center" *ngIf="quizService.questions">
    <div class="col s8 offset-s2">
        <span > Time Elapsed : {{quizService.displayTime()}}</span>
        <div class="progress">
            <div class="determinate" [style.width.%]="(quizService.qnProgress+1)*10" ></div>
        </div>
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{quizService.qnProgress+1}}</span>
                <p>{{quizService.questions[quizService.qnProgress].question}}</p>
            </div>
            <div class="card-action">
                <ul class="collection answer">
                    <ng-container *ngFor="let option of quizService.questions[quizService.qnProgress].option;let i = index">
                        <li *ngIf="option !=null" class="collection-item" (click)="Answer(quizService.questions[quizService.qnProgress].id,i)" >
                            {{option}}
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>
